@page "/"
@using MudBlazor
@using Microsoft.AspNetCore.Components.Forms;
@using Cropper.Blazor.Components

<PageTitle>Home</PageTitle>

<div class="home-component d-flex-vertical gap-4">
    <h1 style="font-weight: 600; text-align: center;">
        Chuẩn đoán bệnh về da
    </h1>
    <div class="d-flex-vertical gap-2">
        <MudText Style="font-size: 12px; color: #7E99B4" Align="Align.Center">Tải ảnh của bạn lên đây để có thể chuẩn
            bệnh về da của
            bạn.
            Ảnh nên rõ ràng, có kích thước 512x512 và định dạng PNG hoặc JPG </MudText>
        <div class="d-flex gap-3 justify-center align-center">
            @if (string.IsNullOrEmpty(Base64Image))
            {

                <MudStack Class="photo-camera" Style="width: 100%; max-width: 600px;">
                    <MudFileUpload OnFilesChanged="OnInputFileChange" T="IReadOnlyList<IBrowserFile>" AppendMultipleFiles
                        Hidden="@false" Accept=".png, .jpg"
                        InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0">
                        <ButtonTemplate>
                            <MudPaper Style="background-color: #fafafa9d; color: #BFCCD9; border: dashed 2px #BFCCD9"
                                Height="100px" Outlined="true"
                                Class="relative rounded-lg border-2 border-dashed pa-4 mud-width-full mud-height-full z-10">
                                <div class="d-flex-vertical align-center justify-center h-100 w-100">
                                    <MudIcon Style="color: #7E99B4;" Icon="@Icons.Material.Filled.PhotoCamera" />
                                    <MudText Style="font-size: 12px;" Align="Align.Center" Typo="Typo.h6">
                                        Chụp ảnh
                                    </MudText>
                                </div>
                            </MudPaper>
                        </ButtonTemplate>
                    </MudFileUpload>
                </MudStack>
                <MudStack Class="file-upload" Style="width: 100%; max-width: 600px;">
                    <MudFileUpload OnFilesChanged="OnInputFileChange" T="IReadOnlyList<IBrowserFile>" AppendMultipleFiles
                        Hidden="@false" Accept=".png, .jpg"
                        InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0">
                        <ButtonTemplate>
                            <MudPaper Style="background-color: #fafafa9d; color: #BFCCD9; border: dashed 2px #BFCCD9"
                                Height="300px" Outlined="true"
                                Class="relative rounded-lg border-2 border-dashed pa-4 mud-width-full mud-height-full z-10">
                                <div class="d-flex-vertical align-center justify-center h-100 w-100">
                                    <MudIcon Style="color: #7E99B4;" Icon="@Icons.Material.Filled.FileUpload" />
                                    <MudText Style="font-size: 12px;" Align="Align.Center" Typo="Typo.h6">
                                        Tải ảnh lên
                                    </MudText>
                                </div>
                            </MudPaper>
                        </ButtonTemplate>
                    </MudFileUpload>
                </MudStack>
            }
            else
            {
                <img src="@Base64Image" style="max-width: 600px; max-height: 600px;" />
            }

        </div>
    </div>
    <div class="d-flex justify-center w-100">
        <div class="d-flex gap-3">
            <MudSelect @bind-Value="@SelectedModelType" Label="Chọn mô hình" Disabled="@IsLoading"
                HelperText="các mô hình khác nhau sẽ đưa ra kết quả khác nhau" Placeholder="Chọn mô hình">
                @foreach (var item in ModelTypes)
                {
                    <MudSelectItem Value="@item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudButton Style="height: 50px" Color="Color.Primary" Size="Size.Small" OnClick="OnDiagnosticButtonClick"
                Variant="Variant.Filled">
                @if (IsLoading)
                {
                    <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
                }
                else
                {
                    @("Chuẩn đoán")
                }
            </MudButton>
        </div>
    </div>

    <div class="d-flex flex-column align-center gap-4">
        <MudExpansionPanels MultiExpansion="true" Class="w-100">
            <MudExpansionPanel Class="w-100"
                Text="@(string.IsNullOrEmpty(SelectedDiseaseKey) ? "Kết quả" : ($"{SkinDiseasesDictionary[SelectedDiseaseKey]}"))">
                @if (string.IsNullOrEmpty(SelectedDiseaseKey))
                {
                    <MudText Style="font-size: 12px;" Class="d-flex align-center" Typo="Typo.caption">
                        <i>Upload ảnh và chuẩn đoán bệnh để hiển thị thông tin này.</i>
                    </MudText>
                }
                <hr />
                @if (!string.IsNullOrEmpty(Overview))
                {
                    <div>
                        <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%"
                            Height="350px"></MudChart>
                    </div>
                    <MudText Typo="Typo.h6">
                        akiec : Actinic keratoses and intraepithelial carcinoma :
                        @(double.Round(PredictionResult.Predictions.akiec * 100, 2))%
                        <br />
                        bcc : Basal cell carcinoma : @(double.Round(PredictionResult.Predictions.bcc * 100, 2))%
                        <br />
                        bkl : Benign lesions of the keratosis : @(double.Round(PredictionResult.Predictions.bkl * 100, 2))%
                        <br />
                        df : Dermatofibroma : @(double.Round(PredictionResult.Predictions.df * 100, 2))%
                        <br />
                        mel : Melanoma : @(double.Round(PredictionResult.Predictions.mel * 100, 2))%
                        <br />
                        nv : Melanocytic nevi : @(double.Round(PredictionResult.Predictions.nv * 100, 2))%
                        <br />
                        vasc : Vascular lesions : @(double.Round(PredictionResult.Predictions.vasc * 100, 2))%
                        <br />
                    </MudText>
                }
            </MudExpansionPanel>
            <MudExpansionPanel Class="w-100" Text="Overview">
                @if (string.IsNullOrEmpty(SelectedDiseaseKey))
                {
                    <MudText Style="font-size: 12px;" Class="d-flex align-center" Typo="Typo.caption">
                        <i>Upload ảnh và chuẩn đoán bệnh để hiển thị thông tin này.</i>
                    </MudText>
                }
                @if (!string.IsNullOrEmpty(Overview))
                {
                    <MudText Style="font-size: 12px;" Class="d-flex align-center" Typo="Typo.caption">
                        <i>Thông tin dưới đây do <a style="text-decoration: underline; color: rgb(0, 102, 255);"
                                href="https://gemini.google.com/">Gemini</a> tự động tổng hợp và chỉ
                            mang
                            tính chất tham khảo. Để có được thông tin chính xác nhất, vui lòng liên hệ với bác sĩ chuyên
                            khoa để
                            được tư vấn cụ thể.</i>
                    </MudText>
                }
                <hr />
                @if (!string.IsNullOrEmpty(Overview))
                {
                    <MudMarkdown Value="@Overview" />
                }
            </MudExpansionPanel>
        </MudExpansionPanels>

        @if (string.IsNullOrEmpty(SelectedDiseaseKey))
        {
            <MudButton Style="height: 50px; width: 150px;" Color="Color.Default" Size="Size.Small" OnClick="OnContactClick"
                Variant="Variant.Outlined">
                Liên hệ bác sĩ
            </MudButton>
        }
    </div>

</div>
